:root{
--primary-text-color: #212121;
--focus-text-color: #2196F3;
--focus-button-color: #188CE8;
--tetriary-text-color: #757575;
--primary-title-color: #FFFFFF;
--background-color: #2F303A;
--second-background-color: #F5F4FA;
--contact-address: rgba(255, 255, 255, 0.6);
--logo-half-color: #000000;
--border-color: #ECECEC;
--second-border-color: #EEEEEE;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img{
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}


.header .container {
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.nav .current{
    color: var(--focus-text-color);
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-half-color);    
}

.logo-header {
    color: var(--focus-text-color);    
}

.site-nav{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 93px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list {
    list-style-type: none;
}

.button{
color: inherit;
cursor: pointer;
font-family: inherit;
}

.link {
    text-decoration: none;
    color: inherit;
}
.nav,
.contact{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.contact{
    margin-left: 344px;
    gap: 50px;
}

.contact-link {
    color: var(--tetriary-text-color);
    display: flex;
    align-items: center;    
}


.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
color: var(--focus-text-color);
}

.border{
border-bottom: 1px solid var(--border-color); 
}

.section{
display: block;
padding-top: 94px;
padding-bottom: 94px;
}

.hero-section{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--background-color);
}

.hero-title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.button{
    width: 216;
    text-align: center;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    background-color: var(--focus-text-color);

}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--focus-button-color);
}

.benefits-section .list{
    display: flex;
    gap: 30px;
}

.benefits-heading{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-paragraph{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--tetriary-text-color);
}

.service-section{
    padding-top: 0;
}

.service-heading{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.service-section .list{
    display: flex;
    gap: 30px;
}

.team-section{
background-color: var(--second-background-color);
}

.team-big-heading{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-section .list{
    display: flex;
        gap: 30px;
}

.member{
    text-align: center;
}

.member .img{
    margin-bottom: 30px;
}

.team-headings{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team-paragraph{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--tetriary-text-color);
}

.footer{
    background-color: var(--background-color);
    padding-top: 50px;
    padding-bottom: 60px;
}

.address{
font-style: normal;
}


.street{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.footer-nav {
    margin-top: 20px;
}

.footer-nav .item+.item {
    margin-top: 9px;
}

.contact-address{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--contact-address);
}


.logo-studio{
    color: var(--primary-title-color);
}

/* ==============portfolio=========== */

.portfolio-button-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 0;
}



.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    border: 2px;
    border-radius: 4px;
    border-color: var(--primary-acent-color);
}

.portfolio-button{
    display: inline-block;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--second-background-color);
    border: 2px;
    border-radius: 4px;
    border-color: var(--border-color);
}

.portfolio-button:hover,
.portfolio-button:focus{
 color: var(--primary-title-color);
 background-color: var(--focus-text-color);
}

.portfolio-heading{
    margin-top: 20px;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--tetriary-text-color);
}

.portfolio-list-name {
    padding: 20px 24px;
    border: 1px solid var(--second-border-color);
    border-top: none;
}